
Support Issue Tracking

= @greeting

This is a notification that ticket #{@answer.ticket.reference} have answer:

The #{@answer.user.username} wrote:
= @answer.body

Open #{ticket_url @answer.ticket.reference} to view.
