%h1 Listing departments

%table
  %thead
    %tr
      %th Name
      %th Disabled
      %th Created
      %th Updated
      %th
      %th
      %th

  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td
          -if !department.enable?
            disable
        %td= time_tag department.created_at.to_time
        %td= time_tag department.updated_at.to_time
        %td= link_to 'Show', department
        %td= link_to 'Edit', edit_department_path(department)
        %td= link_to 'Disable', department, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Department', new_department_path
