= simple_form_for(@ticket) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :email
    = f.association :department
    = f.input :reference
    = f.input :subject

  .form-actions
    = f.button :submit
