= simple_form_for(@ticket) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, required: true
    = f.input :email, required: true
    = f.association :department, required: true, placeholder: 'Select department'
    /= f.input :reference
    = f.input :subject, required: true, placeholder: 'Subject'
    /= f.input :body, as: :text, required: true, placeholder: 'Write your issue.'

  .form-actions
    = f.button :submit
