= simple_form_for(@ticket) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-xs-4
        = f.input :name, required: true, autofocus: true, placeholder: 'Your Name', input_html: { maxlength: 30 }
      .col-xs-4
        = f.input :email, required: true, placeholder: 'user@domain.com', input_html: { maxlength: 127 }
      .col-xs-4
        = f.association :department, required: true, placeholder: 'Select department'
    /= f.input :reference
    = f.input :subject, required: true, placeholder: 'Write the subject of issue', input_html: { maxlength: 255 }
    = f.input :body, required: true, placeholder: 'Write your issue', input_html: { maxlength: 4000 }

  .form-actions
    = f.button :submit, class: 'btn-primary'
