.page-header
  %h1 Listing tickets
%table.table.table-striped
  %thead
    %tr
      %th Date
      %th Reference
      %th Name
      %th Email
      %th Department
      %th Subject
      %th Status
      %th Owner
      %th
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= time_tag ticket.created_at.to_time
        %td= ticket.reference
        %td= ticket.name
        %td= ticket.email
        %td= ticket.department.try(:name)
        %td= ticket.subject
        %td= ticket.statuses.order(created_at: :desc).first.status_type.name
        - if ticket.owners.any?
          %td= ticket.owners.order(created_at: :desc).first.user.username
        - else
          %td
        %td
          = link_to 'Show', ticket, class: 'btn btn-default btn-xs'
%br
= link_to 'New Ticket', new_ticket_path, class: 'btn btn-primary'
%p
  = paginate @tickets