%p#notice= notice

%p
  %b Name:
  = @ticket.name
%p
  %b Email:
  = @ticket.email
%p
  %b Department:
  = @ticket.department.name
%p
  %b Reference:
  = @ticket.reference
%p
  %b Subject:
  = @ticket.subject

= link_to 'Edit', edit_ticket_path(@ticket)
\|
= link_to 'Back', tickets_path
