/%p#notice= notice
/
%p
  %b Name:
  = @ticket.name
%p
  %b Email:
  = @ticket.email
%p
  %b Department:
  = @ticket.department.name
%p
  %b Reference:
  = @ticket.reference
%p
  %b Subject:
  = @ticket.subject
%p
  %b Body:
  = @ticket.body
%p
  %b Curent status:
  - if user_signed_in?
    = render 'status'
  - else
    = @ticket.statuses.order(created_at: :desc).first.status_type.name
%p
  %b Status history:
  - @ticket.statuses.order(created_at: :asc).each do |status|
    %br
    = time_tag status.created_at.to_time
    - if status.user
      %b #{status.user.username}
    - else
      /Customer
    - if status.status_type
      = status.status_type.name
    - else
      No status
%p
  %b Curent owner:
  - if @ticket.owners.any?
    = @ticket.owners.order(created_at: :desc).first.user.username
  - if user_signed_in?
    - unless @ticket.owners.first && @ticket.owners.order(created_at: :desc).first.user == current_user
      = simple_form_for [@ticket, @ticket.owners.new] do |f|
        = f.error_notification
        .form-actions
          = f.button :submit, "Be owner", class: 'btn-primary'
%p
  %b Owners history:
  - @ticket.owners.order(created_at: :asc).each do |owner|
    %br
    = time_tag owner.created_at.to_time
    = owner.user.username
%p
  %b Answers:
  - @ticket.answers.order(created_at: :asc).each do |answer|
    %br
    - if answer.user
      %b #{answer.user.username}
    - else
      /Customer
    = time_tag answer.created_at.to_time
    = answer.body

  = simple_form_for [@ticket, @ticket.answers.new] do |f|
    = f.error_notification
    .form-inputs
      = f.input :body, label: false, required: true, placeholder: 'Write your answer.', input_html: { maxlength: 4000 }, hint: 'Minimum 10 and maximum 4000 characters.'
    .form-actions
      = f.button :submit, class: 'btn-primary'
