/%p#notice= notice
/
%p
  %b Name:
  = @ticket.name
%p
  %b Email:
  = @ticket.email
%p
  %b Department:
  = @ticket.department.name
%p
  %b Reference:
  = @ticket.reference
%p
  %b Subject:
  = @ticket.subject
%p
  %b Body:
  = @ticket.body
%p
  %b Curent status:
  - if user_signed_in?
    = render 'status'
  - else
    = @ticket.statuses.order(created_at: :desc).first.status_type.name
